extends admin

block details
    form(id='addCat', action='/admin/cat/add', method='POST')
        label(for='name') ชื่อหมวดหมู่
        br
        input(type='text', id='name', name='name', placeholder='ชื่อหมวดหมู่', required=true)
        br
        label(for='description') รายละเอียด
        textarea(id='description', name='description', required=true) รายละเอียดของวง
        br
        label(for='image') รูปภาพ
        input(type='file', id='image', name='image' required=true)
        br
        button.dev-btn.btn.btn-default(type='submit') ยืนยัน