extends info

block details
    form(id='changePassword', action='/usr/' + customer.Username + '/change-password', method='POST')
        label(for='current-password') รหัสผ่านปัจจุบัน
        input(type='password', id='current-password', name='currentPassword', placeholder='เปลี่ยนรหัสผ่าน' required=true)
        br
        label(for='new-password') รหัสผ่านใหม่
        input(type='password', id='new-password', name='newPassword', placeholder='กรอกรหัสผ่าน' required=true)
        br
        label(for='confirm-password') กรอกรหัสผ่านใหม่อีกครั้ง
        input(type='password', id='confirm-password', name='repeatPassword', placeholder='กรอกรหัสผ่านอีกครั้ง' required=true)
        br
        button.btn.btn-default(type='submit') เปลี่ยนรหัสผ่าน